
/*** Importaciones ***/
@import './src/styles/mixin-flex';
@import './src/styles/mixin-font';
@import './src/styles/variables-colors';



// Contenedor principal
.app-button {
	@include flex(row, center, center);
	
	min-width: 100px;
	background-color: transparent;
	padding: 12px 16px;
	border: 1px solid $warn;
	border-radius: 100px;
	transition: 0.3s;
	cursor: pointer;
	
	&:hover {
		background-color: #FDE6DE;
	}
	
	
	span {
		@include font(16px, 400, 18px, $warn);
	}
}
