
/*** Importaciones ***/
@import './src/styles/mixin-flex';
@import './src/styles/mixin-font';
@import './src/styles/variables-colors';




// Contenedor principal
.input-text-icon {
	@include flex(row, center, center);
	
	position: relative;
	
	
	// Input
	.input-text-icon__input {
		@include font(16px, 400, 18px, $font);
		
		width: 100%;
		height: 45px;
		padding: 0 10px;
		border: 1px solid #c7c7c7;
		border-radius: 10px;
		outline: none;
		
		&:focus {
			border-color: $primary;
		}
	}


	// Icon
	.input-text-icon__icon {
		position: absolute;
		right: 10px;
		opacity: 0;
		width: 15px;
		
		cursor: pointer;
		pointer-events: none;
		transition: 0.3s;
		
		
		&.input-text-icon__icon__visible {
			pointer-events: all;
			opacity: 1;
		}
	}
}
