
/*** Colores ***/

$colors: (
	'primary': #00d2c4,
	'accent': #004646,
	'warn': #F15A25,
);



/*** Genero las clases ***/

@each $name, $value in $colors {
	
	// Color
	.#{$name}-color {
		color: $value;
	}
	
	// Color de fondo
	.#{$name}-bg-color {
		background-color: $value;
	}
	
}
