@for $i from 0 through 100 {

	// Incremento el contador de 1 en 1
	$i: $i + 1;



	// General
	.height--#{$i} {
		height: #{$i}px;
	}


	// XS
	@media (max-width: 575px) {
		.height-xs--#{$i} {
			height: #{$i}px;
		}
	}


	// SM
	@media (min-width: 576px) {
		.height-sm--#{$i} {
			height: #{$i}px;
		}
	}


	// MD
	@media (min-width: 768px) {
		.height-md--#{$i} {
			height: #{$i}px;
		}
	}


	// LG
	@media (min-width: 992px) {
		.height-lg--#{$i} {
			height: #{$i}px;
		}
	}


	// XL
	@media (min-width: 1200px) {
		.height-xl--#{$i} {
			height: #{$i}px;
		}
	}

}
