
/* Estilos generales de flex */
@mixin flex($flexDirection: row, $justifyContent: center, $alignItems: center) {
	display: flex;
	flex-direction: $flexDirection;
	justify-content: $justifyContent;
	align-items: $alignItems;
}
