
/*** Importaciones ***/
@import './src/styles/variables-screen-sizes';



// Celular (XS)
@mixin phone-xs-only {
	@media (max-width: $xs) { @content; }
}


// Celular (SM)
@mixin phone-sm-up {
	@media (min-width: $sm) { @content; }
}


// Tablet (MD)
@mixin tablet-up {
	@media (min-width: $md) { @content; }
}


// Desktop (LG)
@mixin desktop-lg-up {
	@media (min-width: $lg) { @content; }
}


// Desktop (XL)
@mixin desktop-xl-up {
	@media (min-width: $xl) { @content; }
}


// Desktop (XXL)
@mixin desktop-xxl-up {
	@media (min-width: $xxl) { @content; }
}
