
/*** Importaciones ***/
@import './src/styles/variables-colors';


/* Mixin para los estilos de fuentes generales */
@mixin font($fontSize, $fontWeight, $lineHeight, $color: $font) {
	font-size: $fontSize;
	font-weight: $fontWeight;
	line-height: $lineHeight;
	color: $color;
}
