
/*** Importaciones ***/
@import './src/styles/mixin-flex';
@import './src/styles/mixin-font';
@import './src/styles/mixin-media-queries';




// Contenedor principal
.main {
	display: grid;
	grid-template-rows: 60px 1fr;
	background-color: #fafafa;
	height: 100vh;
	
	
	// Cabecera
	.main__header {}
	
	
	
	// Contenido
	.main__content {
		padding: 30px;
		
		&.main__content__vertical-center {
			@include flex(column, center, center);
		}
		
		
		// Sin pendientes
		.main__content__without-todo {
			@include flex(column, center, center);
			
			row-gap: 30px;
			
			
			// Mensaje
			.without-todo__message {
				@include flex(column, center, center);
				
				row-gap: 15px;
				
				
				h4 {
					@include font(20px, 700, 22px);
				}
				
				
				span {
					@include font(16px, 400, 18px);
				}
			}
		}
		
		
		// Pendientes
		.main__content__todo {
			
			// Crear pendiente
			.main__content__todo-create {
				
				// Titulo
				.todo-create__title {
					margin-bottom: 15px;
					
					
					h3 {
						@include font(32px, 700, 36px, $accent);
					}
				}
				
				
				// Inputs
				.todo-create__inputs {
					display: flex;
					flex-direction: column;
					row-gap: 10px;
				}
			}
			
			
			// Listado de pendientes
			.main__content__todo-list {
				margin-top: 45px;
				
				
				// Titulo
				.todo-list__title {
					padding-bottom: 5px;
					border-bottom: 1px solid #c7c7c7;
					margin-bottom: 15px;
					
					
					h4 {
						@include font(26px, 400, 28px, $accent);
					}
				}
				
				
				// Sin datos
				.todo-list__data__not-found {
					h5 {
						@include font(18px, 400, 20px, $font);
					}
				}
				
				
				// Datos
				.todo-list__data {
					display: flex;
					flex-direction: column;
					row-gap: 5px;
				}
			}
		}
	}
	
	
	
	// Tablet en adelante
	@include tablet-up {
		grid-template-rows: 90px 1fr;
		
		
		// Contenido
		.main__content {
			
			// Pendientes
			.main__content__todo {
				
				// Listado de pendientes
				.main__content__todo-list {
					margin-top: 0;
				}
			}
		}
	}
}
