<!-- Contenedor principal -->
<main class="main">
	
	<!-- Cabecera -->
	<div class="main__header">
		<app-header></app-header>
	</div>
	
	
	<!-- Contenido -->
	<div
		class="main__content container"
		[class.main__content__vertical-center]="!isFirstTodo">
		
		<!-- Sin pendientes -->
		<section class="main__content__without-todo" *ngIf="!isFirstTodo">
			
			<!-- Imagen -->
			<img class="without-todo__image" alt="" [src]="IMAGE__TODO_EMPTY">
			
			<!-- Mensaje -->
			<div class="without-todo__message">
				<h4>Aun no tienes pendientes</h4>
				<span>¿Quieres crear la primera?</span>
			</div>
			
			<!-- Botón de crear -->
			<app-button label="Crear" (outputOnClick)="isFirstTodo = true"></app-button>
		
		</section>
		
		
		<!-- Pendientes -->
		<section class="main__content__todo row" *ngIf="isFirstTodo">
			
			<!-- Crear pendiente -->
			<div class="main__content__todo-create col-12 col-md-5 col-lg-4">
				
				<!-- Titulo -->
				<div class="todo-create__title">
					<h3>To do List</h3>
				</div>
				
				
				<!-- Inputs -->
				<div class="todo-create__inputs">
					
					<!-- Categoría -->
					<app-select
						formControlString="category"
						[rxFormGroup]="todoListForm">
					</app-select>
					
					<!-- Nombre -->
					<app-input-text-icon
						formControlString="name"
						placeholder="Name"
						
						[rxFormGroup]="todoListForm"
						[icon]="IMAGE__PLUS__BLACK"
					
						(outputAdd)="createTodo()">
					</app-input-text-icon>
					
				</div>
				
			</div>
			
			
			<!-- Listado de pendientes -->
			<div class="main__content__todo-list col-12 col-md-7 col-lg-8">
				
				<!-- Titulo -->
				<div class="todo-list__title">
					<h4>All</h4>
					
					<!--<app-select [options]="viewOptions"></app-select>-->
				</div>
				
				<!-- Sin datos -->
				<div class="todo-list__data__not-found" *ngIf="!todoList.length">
					<h5>No existen pendientes</h5>
				</div>
				
				<!-- Datos -->
				<div class="todo-list__data">
					<app-todo-item
						*ngFor="let item of todoList; let i = index"
						[item]="item"
						(outputRemoveItem)="removeItem(i)">
					</app-todo-item>
				</div>
				
			</div>
			
		</section>
	
	</div>

</main>
