
/*** Importaciones ***/
@import './src/styles/mixin-flex';
@import './src/styles/mixin-font';
@import './src/styles/variables-colors';




// Contenedor principal
.app-select {
	@include flex(row, center, center);
	
	position: relative;
	
	.app-select__input {
		@include font(16px, 400, 18px, $font);
		
		width: 100%;
		height: 45px;
		padding: 0 10px;
		border: 1px solid #c7c7c7;
		border-radius: 10px;
		
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance:none;
	}
	
	
	.app-select__arrow {
		position: absolute;
		right: 10px;
		
		width: 15px;
	}
}
