
<!-- Contenedor principal: con formulario -->
<div class="app-select" *ngIf="!!rxFormGroup" [formGroup]="rxFormGroup">
	<select class="app-select__input" [formControlName]="formControlString">
		<option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
	</select>
	
	<img class="app-select__arrow" alt="" [src]="IMAGE__ARROW_DOWN__BLACK">
</div>



<!-- Contenedor principal: sin formulario -->
<div class="app-select" *ngIf="!rxFormGroup">
	<select class="app-select__input" [(ngModel)]="value" (change)="outputChangeSelect.emit(value)">
		<option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
	</select>
	
	<img class="app-select__arrow" alt="" [src]="IMAGE__ARROW_DOWN__BLACK">
</div>
