
/*** Importaciones ***/
@import './src/styles/mixin-flex';
@import './src/styles/mixin-media-queries';




// Contenedor principal
.app-header {
	@include flex(row, center, flex-center);
	
	padding: 10px;
	
	
	// Logo
	.app-header__logo {
		height: 100%;
	}
	
	
	
	// Tablet en adelante
	@include tablet-up {
		justify-content: flex-start;
		padding: 20px;
	}
}
