
<!-- Contenedor principal -->
<div class="todo-item">
	
	<label class="todo-item__data" [style.background-color]="colorByCategory()">
		
		<!-- Check oculto -->
		<input class="data__hide-check d-none" type="checkbox" [(ngModel)]="item.status">
		
		<!-- Check visible -->
		<div
			class="data__visible-check"
			[class.data__visible-check__active]="!!item.status"></div>
		
		<!-- Label -->
		<span [textContent]="item.name"></span>
		
	</label>
	
	
	<div class="todo-item__delete" (click)="outputRemoveItem.emit()">
		<img alt="" [src]="IMAGE__CLOSE__RED">
	</div>
	
</div>
