
/*** Importaciones ***/
@import './src/styles/mixin-flex';
@import './src/styles/mixin-font';
@import './src/styles/variables-colors';




// Contenedor principal
.todo-item {
	display: grid;
	grid-template-columns: calc(100% - 50px) 50px;
	
	
	.todo-item__data {
		@include flex(row, flex-start, center);
		
		column-gap: 10px;
		
		background-color: #FFFFFF;
		padding: 10px;
		border-radius: 10px;
		
		
		// Check visible
		.data__visible-check {
			width: 20px;
			height: 20px;
			background-color: transparent;
			border: 2px solid #c7c7c7;
			border-radius: 5px;
			transition: 0.3s;
			
			&.data__visible-check__active {
				background-color: $primary;
				border-color: $primary;
			}
		}
		
		
		// Label
		span {
			@include font(16px, 400, 18px, $accent)
		}
	}
	
	
	.todo-item__delete {
		@include flex(row, center, center);
		
		
		img {
			width: 15px;
		}
	}
}
