/*** Fuente ***/

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



/*** Importaciones ***/

// Bootstrap
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';

// Custom
@import "styles/height";
@import "styles/colors";



/*** Estilos generales ***/

* {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
